<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Uusi Kysely</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" />
  </head>

  <body>
    <h1>Uusi Kysely</h1>
    <form action="/tallennaKysely" method="post">
      <label for="nimi">Kyselyn Nimi:</label>
      <br/>
      <input type="text" name="nimi" />
      <br/>
      <label for="kuvaus">Kyselyn Kuvaus:</label>
      <br/>
      <textarea rows="3" cols="30" name="kuvaus">
      </textarea>
      <br/>
      <label for="alkupvm">Alkupvm</label>
      <br/>
      <input type="date" name ="alkupvm" />
      <br/>
      <label for="loppupvm">Loppupvm</label>
      <br/>
      <input type="date" name="loppupvm" />
      <br/><br/>
      <input type="submit" value="Tallenna Kysely" />
    </form>

    <a href="/kyselyt">Palaa takaisin</a>

  </body>
</html>
